body {
    font-family:verdana,sans-serif;
    color:#555;
    width:60em;
}
span.cmd {
    font-family:courier,monospace
}
p {
    text-indent: 1em;
}
h2,h3 {
    border-top:5px solid #eee;
    padding-left:1em;
    padding-top:6pt;
}
a {
    color: #5050a0;
}
a:hover {
    color: #5050a0;
}
div.chapeau {
    font-style:  italic;
    padding:  2em;
    margin-left: 2em;
}
div.contact {
    font-size:80%;
}

div.container {
    margin: 4pt;
}

div.head {
    float:left;
}

div.logo {
    float:left;
    padding-right:30px;
    /*margin-bottom:30px;*/
}
img {
    border: 0px;
}
